// colors
$color-main: #060623;
$color-second: #0000FF;

$color-red: #FF0000;
$color-green: #00FF00;
$color-blue: #0000FF;
$color-white: #FFFFFF;
$color-grey: #7C7A7A;

$main-text-color: $color-main;
